/* Importation de la police d'écriture */

@font-face {
  font-family: 'Enchanted Land';
  src: url('../font/Enchanted\ Land.otf') format('OpenType');
  /* font-weight: normal;
  font-style: normal; */
}

/* .bg-admin {
  background-color: lightblue;
} */

body {
  font-family: 'Enchanted Land', Arial, Helvetica, sans-serif;
  background-color: white;
}

/* .taille-img {
  max-width: 100%;
  max-height: auto;
} */

/* .cat {
  height: 50px;
  width: 175px;
} */

/* .div-photo {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: center;
  justify-self: center;
} */

.btns {
  font-size: xx-large;
  border: 3px solid black;
  background-color: brown;
}

.btns:hover {
  background-color: rgb(152, 101, 101);
  border: 3px solid black;
}
