/* Importation de la police d'écriture */

@font-face {
  font-family: 'Enchanted Land';
  src: url('../font/Enchanted\ Land.otf') format('OpenType');
  /* font-weight: normal;
  font-style: normal; */
}

/* Pour toute la page */
body {
  font-family: 'Enchanted Land', Arial, Helvetica, sans-serif;
  background-color: white;
}

/* Mode jour */
.mode-jour {
  background-color: white;
}

/* Mode nuit */
.mode-nuit {
  background-color: black;
}

/* Pour le titre de jour */
.titre-jour {
  width: 15rem;
  font-size: 30px;
}

/* Pour le titre de nuit */
.titre-nuit {
  width: 15rem;
  font-size: 30px;
  color: white;
}

/* Pour la taille de l'image (Scène de combat) */
.taille-img {
  width: auto;
  height: auto;
}

/* Pour définir une image en arrière-plan, ainsi que la préparation du terrain à mettre sur l'image */
.div-img-fond-combat {
  /* Préparationd e l'image en arrière-plan */
  background-image: url('../img/Maison\ Moyen\ Age\ 2.png'); /* Chemin de l'image */
  background-size: contain; /* Ajuste l'image pour qu'elle soit entièrement visible */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans la div */
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9; /* Optionnel : pour respecter les proportions */

  /* Préparation du terrain pour le combat */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
}

/* Pour mettre les éléments sur l'image*/
.overlay {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); Fond semi-transparent */
  padding: 10px;
  border-radius: 5px;
}

/* Pour les informations sur le personnage */
.perso-informations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Les boutons du mode jour */

.btns-jour {
  width: 200px;
  height: auto;
  font-size: xx-large;
  border: 3px solid black;
  background-color: brown;
}

/* Quand l'utilisateur passe sa souris sur les boutons */
.btns-jour:hover {
  background-color: rgb(152, 101, 101);
}

/* Les boutons du mode nuit */

.btns-nuit {
  width: 200px;
  height: auto;
  font-size: xx-large;
  border: 3px solid white;
  background-color: brown;
}

/* Quand l'utilisateur passe sa souris sur les boutons */
.btns-nuit:hover {
  background-color: rgb(152, 101, 101);
}

/* Media Query pour les plus petits écrans */
@media screen and (max-width: 1920px) {
  /* Pour la taille des monstres */
  .taille-img-perso {
    width: 60%;
    height: auto;
  }

  /* Pour le fond d'ecran pour le combat */
  .div-img-fond-combat {
    width: 75%;
    height: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    text-align: center;
  }

  .btns-jour {
    font-size: x-large;
  }

  .btns-nuit {
    font-size: x-large;
  }
}
